<h1>Countries#index</h1>
<table>
  <thead>
  <tr>
    <th>Flag</th>
    <th>Name</th>
    <th>Capital</th>
    <th>Region</th>
  </tr>
  </thead>
  <tbody>
  <%# @result.each do |list|  %>
<!--    <h4><%#= list['title'] %></h4>-->
<!--    <h4><%#= list['author'] %></h4>-->
  <%# end %>
  <%#= @list['results']['books']%>
  <%= @list %>

  </tbody>
</table>
