<% @reviews.each do |review| %>
  <div class="container">
    <div class="book">
      <p class="title"><%= review['book_title'] %></p>
      <p class="author"><%= review['book_author'] %></p>
    </div>


    <div class="reviews">
      <div class="review">
        <p class="author">Reviewed by: <%= review['byline'] %></p>
        <p class="comment"><%= review['summary'] %></p>
      </div>
    </div>
  </div>

<% end %>